.output{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px;
    gap: 20px;
    background-color:black ;
}

h3{
    background-color: grey;
}
.card{
    background-color:hotpink;
}
.card:hover{
    margin-top: -.25rem;
    margin-bottom: .25rem
}